In [ ]:
"""
Code below are Pyspark code, that used for Data analysis, Data wrangling and used to load tabes to AWS RDS.
JupyterHub Pysaprk environmenty were used
"""

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.config("spark.jars", "/usr/lib/spark/jars/mysql-connector-j-8.0.33.jar") \
.getOrCreate()

In [ ]:
from pyspark.sql.functions import to_timestamp, col
from pyspark.sql.functions import col, concat, lit, when, length
# Loading chicago crime dataset from s3 to pyspark working environment for analysis
df_crime = spark.read.format("csv").option("header", "true").load("s3://final-project-dataset-group6/crime_report.csv")\
.withColumn("Date", to_timestamp(col("Date"), "MM/dd/yyyy hh:mm:ss a"))
df_crime.show(2)

In [13]:
# Loding chicago police stations from s3 to pyspark working environment for analysis
df_pl_st = spark.read.format("csv").option("header", "true")\
.load("s3://final-project-dataset-group6/chicago_police_stations.csv")
df_pl_st.show(2)

In [ ]:
# Loding chicago police stations from s3 to pyspark working environment for analysis
df_communitties = spark.read.format("csv").option("header", "true")\
.load("s3://final-project-dataset-group6/chicago_communities.csv")
df_communitties.show(2)

In [15]:
# Crime Dataset
df_crime.count()

Understanding Data frames

In [ ]:
# Crime report datafrane
df_crime.show(3)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        null|        null|2015|08/01/2017 03:52:...|    null|     null|    null|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        null|        null|2018|04/06/2019 04:04:...|    null|     null|    null|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|    null|     null|    null|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 3 rows

In [ ]:
df_crime.count()

7946816

In [ ]:
df_crime.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
# giving column meaningfull data type
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType
# df_crime = df_crime.withColumn("Community Area", col("Community Area").cast("int"))
df_crime = df_crime.withColumn("Year", col("Year").cast("int"))
df_crime = df_crime.withColumn("Latitude", col("Latitude").cast("double"))
df_crime = df_crime.withColumn("Longitude", col("Longitude").cast("double"))

In [ ]:
labels = [
 ('ID', StringType()),
 ('Case Number', StringType()),
 ('Date', TimestampType()),
 ('Block', StringType()),
 ('IUCR', StringType()),
 ('Primary Type', StringType()),
 ('Description', StringType()),
 ('Location Description', StringType()),
 ('Arrest', StringType()),
 ('Domestic', StringType()),
 ('Beat', StringType()),
 ('District', StringType()),
 ('Ward', StringType()),
 ('Community Area', StringType()),
 ('FBI Code', StringType()),
 ('X Coordinate', StringType()),
 ('Y Coordinate', StringType()),
 ('Year', IntegerType()),
 ('Updated On', StringType()),
 ('Latitude', DoubleType()),
 ('Longitude', DoubleType()),
 ('Location', StringType())
 ]

In [ ]:
schema = StructType([StructField(lab[0], lab[1], True) for lab in labels])

In [ ]:
df_crime= spark.createDataFrame(df_crime.rdd, schema)
# Giving date right time format
# df_crime = df_crime.withColumn("Date", to_timestamp(col("Date"), "MM/dd/yyyy hh:mm:ss a"))
# df_crime = df_crime.withColumn("UnixTimestamp", unix_timestamp("Date", "MM/dd/yyyy hh:mm:ss a").cast("timestamp"))

In [ ]:
df_crime.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
df_crime.columns

['ID',
 'Case Number',
 'Date',
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']

In [ ]:
df_crime.show(3)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        null|        null|2015|08/01/2017 03:52:...|    null|     null|    null|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        null|        null|2018|04/06/2019 04:04:...|    null|     null|    null|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|    null|     null|    null|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 3 rows

In [ ]:
# Dropping the columns that is not need for our project purpose
list_of_unimportant_col = ["Beat", "Block", "IUCR", "Ward", "FBI Code", "X Coordinate", "Y Coordinate", "Updated On"]
df_crime = df_crime.drop(*list_of_unimportant_col)

In [ ]:
df_crime.show(3)

+--------+-----------+-------------------+------------------+--------------------+--------------------+------+--------+--------+--------------+----+--------+---------+--------+
|      ID|Case Number|               Date|      Primary Type|         Description|Location Description|Arrest|Domestic|District|Community Area|Year|Latitude|Longitude|Location|
+--------+-----------+-------------------+------------------+--------------------+--------------------+------+--------+--------+--------------+----+--------+---------+--------+
|11037294|   JA371270|2015-03-18 12:00:00|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|     001|            32|2015|    null|     null|    null|
|11646293|   JC213749|2018-12-20 15:00:00|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|     025|            19|2018|    null|     null|    null|
|11645836|   JC212333|2016-05-01 00:25:00|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|     008|            63|2016|    null|     null|    null|
+--------+-----------+-------------------+------------------+--------------------+--------------------+------+--------+--------+--------------+----+--------+---------+--------+
only showing top 3 rows

In [ ]:
# Drop rows with null values in dataframe. specifically where longitude and latitude
df_crime = df_crime.dropna(subset=['Latitude'])
df_crime = df_crime.dropna(subset=['Longitude'])

In [ ]:
df_crime.show(2)

+--------+-----------+-------------------+------------+--------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
|      ID|Case Number|               Date|Primary Type|   Description|Location Description|Arrest|Domestic|District|Community Area|Year|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+------------+--------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|$500 AND UNDER|           APARTMENT| false|   false|     002|            35|2020|41.830481843|-87.621751752|(41.830481843, -8...|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|        SIMPLE|           APARTMENT|  true|   false|     009|            60|2020|41.836310224|-87.639624112|(41.836310224, -8...|
+--------+-----------+-------------------+------------+--------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
only showing top 2 rows

In [ ]:
# Total length of dataframe after dropping null longitude and latitude
df_crime.count()

7859202

In [ ]:
# changing distric values to have the same values (cause 16 doesn't have 0 as prefix)
def add_prefix(value):
    return when(
        col('District') == lit("16"),
        concat(lit('0'), col('District').cast('string'))
    ).otherwise(col('District'))  # Keeps the original value if the condition doesn't match

# Apply the function to create a new column 'District' with the prefixes
df_crime_new = df_crime.withColumn('District', add_prefix(col('District')))

In [ ]:
df_crime_new.show(5)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|District|Community Area|Year|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|     002|            35|2020|41.830481843|-87.621751752|(41.830481843, -8...|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|     009|            60|2020|41.836310224|-87.639624112|(41.836310224, -8...|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|     004|            46|2020|41.747609555|-87.549179329|(41.747609555, -8...|
|12178140|   JD381597|2020-09-27 23:29:00|     BATTERY|              SIMPLE|RESIDENCE - PORCH...| false|   false|     007|            67|2020| 41.77487752|-87.671374872|(41.77487752, -87...|
| 4144897|   HL474854|2005-07-10 15:00:00|     BATTERY|AGGRAVATED: OTHER...|              STREET| false|   false|     007|            68|2005|41.781002663|-87.652107119|(41.781002663, -8...|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
crime_table = df_crime_new

Police station (District) in Chicago Dataset

In [ ]:
df_pl_st.show()

+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|            DISTRICT|    DISTRICT NAME|             ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|
+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|        Headquarters|     Headquarters| 3510 S Michigan Ave|Chicago|   IL|60653|http://home.chica...|        null|        null|        null| 1177731.401| 1881697.404|41.83070169|-87.62339535|(41.8307016873, -...|
|                  18|       Near North|  1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|
|                  19|        Town Hall|    850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|
|                  20|          Lincoln|  5400 N Lincoln Ave|Chicago|   IL|60625|http://home.chica...|312-742-8714|312-742-8803|312-742-8841| 1158399.146| 1935788.826|41.97954951|-87.69284451|(41.9795495131, -...|
|                  22|      Morgan Park| 1900 W Monterey Ave|Chicago|   IL|60643|http://home.chica...|312-745-0710|312-745-0814|312-745-0569| 1165825.476| 1830851.333|41.69143478|-87.66852039|(41.6914347795, -...|
|                  24|      Rogers Park|     6464 N Clark St|Chicago|   IL|60626|http://home.chica...|312-744-5907|312-744-6928|312-744-7603| 1164193.588| 1943199.401|41.99976348|-87.67132429|(41.9997634842, -...|
|                  25|    Grand Central|    5555 W Grand Ave|Chicago|   IL|60639|http://home.chica...|312-746-8605|312-746-4353|312-746-8383| 1138770.871| 1913442.439|41.91860889|-87.76557448|(41.9186088912, -...|
|                   1|          Central|     1718 S State St|Chicago|   IL|60616|http://home.chica...|312-745-4290|312-745-3694|312-745-3693| 1176569.052| 1891771.704|41.85837259|-87.62735617|(41.8583725929, -...|
|                   2|        Wentworth|5101 S Wentworth Ave|Chicago|   IL|60609|http://home.chica...|312-747-8366|312-747-5396|312-747-6656| 1175864.837| 1871153.753|41.80181109|-87.63056018|(41.8018110912, -...|
|                   3|   Grand Crossing|7040 S Cottage Gr...|Chicago|   IL|60637|http://home.chica...|312-747-8201|312-747-5479|312-747-9168| 1182739.183| 1858317.732|41.76643089|-87.60574786|(41.7664308925, -...|
|                   4|    South Chicago|     2255 E 103rd St|Chicago|   IL|60617|http://home.chica...|312-747-7581|312-747-5276|312-747-9169| 1193131.299| 1837090.265|41.70793329|-87.56834912|(41.7079332906, -...|
|                   5|          Calumet|      727 E 111th St|Chicago|   IL|60628|http://home.chica...|312-747-8210|312-747-5935|312-747-9170| 1183305.427| 1831462.313|41.69272336|-87.60450587|(41.6927233639, -...|
|                   6|          Gresham|   7808 S Halsted St|Chicago|   IL|60620|http://home.chica...|312-745-3617|312-745-3649|312-745-3639| 1172283.013| 1853022.646|41.75213684|-87.64422891|(41.7521368378, -...|
|                   7|        Englewood|      1438 W 63rd St|Chicago|   IL|60636|http://home.chica...|312-747-8223|312-747-6558|312-747-6652| 1167659.235| 1863005.522|41.77963154|-87.66088702|(41.7796315359, -...|
|                   8|     Chicago Lawn|      3420 W 63rd St|Chicago|   IL|60629|http://home.chica...|312-747-8730|312-747-8545|312-747-8116| 1154575.242| 1862672.049|41.77898719|-87.70886382|(41.778987189, -8...|
|                   9|          Deering|   3120 S Halsted St|Chicago|   IL|60608|http://home.chica...|312-747-8227|312-747-5329|312-747-9172|  1171440.24| 1884085.224|41.83739443|-87.64640771|(41.8373944311, -...|
|                  10|            Ogden|    3315 W Ogden Ave|Chicago|   IL|60623|http://home.chica...|312-747-7511|312-747-7429|312-747-7471| 1154500.753| 1890985.501|41.85668453|-87.70838196|(41.8566845327, -...|
|                  11|         Harrison|  3151 W Harrison St|Chicago|   IL|60612|http://home.chica...|312-746-8386|312-746-4281|312-746-5151| 1155244.069| 1897148.755|41.87358229|-87.70548813|(41.8735822883, -...|
|                  12|        Near West|1412 S Blue Islan...|   null| null| null|                null|        null|        null|        null|        null|        null|       null|        null|                null|
|",Chicago,IL,6060...| -87.6569725149)"|                null|   null| null| null|                null|        null|        null|        null|        null|        null|       null|        null|                null|
+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
only showing top 20 rows

In [ ]:
df_pl_st.printSchema()

root
 |-- DISTRICT: string (nullable = true)
 |-- DISTRICT NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIP: string (nullable = true)
 |-- WEBSITE: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- FAX: string (nullable = true)
 |-- TTY: string (nullable = true)
 |-- X COORDINATE: string (nullable = true)
 |-- Y COORDINATE: string (nullable = true)
 |-- LATITUDE: string (nullable = true)
 |-- LONGITUDE: string (nullable = true)
 |-- LOCATION: string (nullable = true)

In [ ]:
df_pl_st.select("DISTRICT NAME").distinct().show()

+-----------------+
|    DISTRICT NAME|
+-----------------+
|         Harrison|
|     Chicago Lawn|
|      Albany Park|
|      Rogers Park|
|        Englewood|
|   Grand Crossing|
| -87.6569725149)"|
|           Austin|
|          Deering|
|      Morgan Park|
|    Grand Central|
|        Near West|
|    South Chicago|
|          Lincoln|
|          Central|
|     Headquarters|
|        Town Hall|
|   Jefferson Park|
|          Gresham|
|      Shakespeare|
+-----------------+
only showing top 20 rows

In [ ]:
# Filter all districts where it is not HeadQuaters (Because In my crime recored there are not record investigated by headqauter)
df_pl_st_new = df_pl_st.filter((col("DISTRICT") != "Headquarters") & (~col('DISTRICT').contains("Chicago,IL,6060")))
df_pl_st_new.show(2)

+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|DISTRICT|DISTRICT NAME|           ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|
+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|      18|   Near North|1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|
|      19|    Town Hall|  850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|
+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
only showing top 2 rows

In [ ]:
df_pl_st.select("district_name").distinct().show()

+--------------+
| DISTRICT NAME|
+--------------+
|      Harrison|
|  Chicago Lawn|
|   Albany Park|
|   Rogers Park|
|     Englewood|
|Grand Crossing|
|        Austin|
|       Deering|
|   Morgan Park|
| Grand Central|
|     Near West|
| South Chicago|
|       Lincoln|
|       Central|
|     Town Hall|
|Jefferson Park|
|       Gresham|
|   Shakespeare|
|    Near North|
|     Wentworth|
+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, concat, lit, when, length
# Adding 0 as prefict for each distric column to make it similar to what we have in crime dataset cause we will need to join them got get district name
def add_prefix(value):
    return when(col('DISTRICT').cast('string').rlike('^\\d$'), concat(lit('00'), col('DISTRICT').cast('string')))\
           .otherwise(concat(lit('0'), col('DISTRICT').cast('string')))

# Apply the function to create a new column 'DISTRICT' with the prefixes
df_pl_st_new_ = df_pl_st_new.withColumn('DISTRICT', add_prefix(col('DISTRICT')))

# df_pl_st_new_ = df_pl_st_new.withColumn('DISTRICT', concat(lit('0'), col('DISTRICT').cast('string')))
df_pl_st_new_.show(2)

+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|DISTRICT|DISTRICT NAME|           ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|
+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|     018|   Near North|1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|
|     019|    Town Hall|  850 W Addison St|Chicago|   IL|60613|http://home.chica...|312-744-8320|312-744-4481|312-744-8011| 1169730.744| 1924160.317|41.94740046|-87.65151202|(41.9474004564, -...|
+--------+-------------+------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
only showing top 2 rows

In [ ]:
# We need to drop some columns cause It is all columns we need need: we used this dataset just to get name of district
columns_to_select = ["ADDRESS", "CITY", "STATE", "ZIP", "WEBSITE", "PHONE", "FAX", "TTY", "X COORDINATE", "Y COORDINATE", "LOCATION"]
df_pl_st_new_ = df_pl_st_new_.drop(*columns_to_select)
df_pl_st_new_.show(40)

# We need to drop some columns cause It is all columns we need need: we used this dataset just to get name of district
columns_to_select = ["district", "district_name", "latitude", "longitude"]
df_pl_st_new_ = df_pl_st_new_.select(*columns_to_select)
df_pl_st_new_.show(10)

+--------+--------------+-----------+------------+
|DISTRICT| DISTRICT NAME|   LATITUDE|   LONGITUDE|
+--------+--------------+-----------+------------+
|     018|    Near North|41.90324165|-87.64335214|
|     019|     Town Hall|41.94740046|-87.65151202|
|     020|       Lincoln|41.97954951|-87.69284451|
|     022|   Morgan Park|41.69143478|-87.66852039|
|     024|   Rogers Park|41.99976348|-87.67132429|
|     025| Grand Central|41.91860889|-87.76557448|
|     001|       Central|41.85837259|-87.62735617|
|     002|     Wentworth|41.80181109|-87.63056018|
|     003|Grand Crossing|41.76643089|-87.60574786|
|     004| South Chicago|41.70793329|-87.56834912|
|     005|       Calumet|41.69272336|-87.60450587|
|     006|       Gresham|41.75213684|-87.64422891|
|     007|     Englewood|41.77963154|-87.66088702|
|     008|  Chicago Lawn|41.77898719|-87.70886382|
|     009|       Deering|41.83739443|-87.64640771|
|     010|         Ogden|41.85668453|-87.70838196|
|     011|      Harrison|41.87358229|-87.70548813|
|     012|     Near West|       null|        null|
|     014|   Shakespeare|41.92110332|-87.69745182|
|     015|        Austin|41.88008346|-87.76819989|
|     016|Jefferson Park|41.97409445|-87.76614884|
|     017|   Albany Park|41.96605342|-87.72811456|
+--------+--------------+-----------+------------+

In [ ]:
police_table = df_pl_st_new_
police_table.show(2)

+--------+-------------+-----------+------------+
|DISTRICT|DISTRICT NAME|   LATITUDE|   LONGITUDE|
+--------+-------------+-----------+------------+
|     018|   Near North|41.90324165|-87.64335214|
|     019|    Town Hall|41.94740046|-87.65151202|
+--------+-------------+-----------+------------+
only showing top 2 rows

Cleaning and dropping unnecessary column in community areas in Chicago Illinois

In [ ]:
# Community area dataset: has 77 communities that are in chicago
df_communitties.show(5)

+---+--------------------+---------+----+-------+----------+----------+---------------+----------+-------------+-------------+
|_c0|            the_geom|perimeter|area|comarea|comarea_id|area_numbe|      community|area_num_1|   shape_area|    shape_len|
+---+--------------------+---------+----+-------+----------+----------+---------------+----------+-------------+-------------+
|  0|{'type': 'MultiPo...|        0|   0|      0|         0|        35|        DOUGLAS|        35|46004621.1581|31027.0545098|
|  1|{'type': 'MultiPo...|        0|   0|      0|         0|        36|        OAKLAND|        36|16913961.0408|19565.5061533|
|  2|{'type': 'MultiPo...|        0|   0|      0|         0|        37|    FULLER PARK|        37|19916704.8692|25339.0897503|
|  3|{'type': 'MultiPo...|        0|   0|      0|         0|        38|GRAND BOULEVARD|        38|48492503.1554|28196.8371573|
|  4|{'type': 'MultiPo...|        0|   0|      0|         0|        39|        KENWOOD|        39|29071741.9283|23325.1679062|
+---+--------------------+---------+----+-------+----------+----------+---------------+----------+-------------+-------------+
only showing top 5 rows

In [ ]:
df_communitties.count()

77

In [ ]:
df_communitties.select("area_numbe").distinct().count()

77

In [ ]:
df_communitties.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- the_geom: string (nullable = true)
 |-- perimeter: string (nullable = true)
 |-- area: string (nullable = true)
 |-- comarea: string (nullable = true)
 |-- comarea_id: string (nullable = true)
 |-- area_numbe: string (nullable = true)
 |-- community: string (nullable = true)
 |-- area_num_1: string (nullable = true)
 |-- shape_area: string (nullable = true)
 |-- shape_len: string (nullable = true)

In [ ]:
# Community areas name
df_communitties.select("community").distinct().show()

+--------------------+
|           community|
+--------------------+
|       BRIGHTON PARK|
|        LINCOLN PARK|
|           MONTCLARE|
|             HERMOSA|
|                LOOP|
|      BELMONT CRAGIN|
|             OAKLAND|
|            ROSELAND|
|     WASHINGTON PARK|
|GREATER GRAND CRO...|
|      AUBURN GRESHAM|
|         SOUTH SHORE|
|      SOUTH LAWNDALE|
|      GARFIELD RIDGE|
|      LINCOLN SQUARE|
|         EDISON PARK|
|             DOUGLAS|
|         FULLER PARK|
|         IRVING PARK|
|         WEST ELSDON|
+--------------------+
only showing top 20 rows

In [ ]:
# From this dataset only community area number and community name is needed, so Other columns need to be dropped
col_to_drop = ["_c0", "the_geom", "perimeter", "area", "area_num_1", "comarea", "comarea_id", "shape_area", "shape_len"]
df_communitties = df_communitties.drop(*col_to_drop)
df_communitties.show(5)

+----------+---------------+
|area_numbe|      community|
+----------+---------------+
|        35|        DOUGLAS|
|        36|        OAKLAND|
|        37|    FULLER PARK|
|        38|GRAND BOULEVARD|
|        39|        KENWOOD|
+----------+---------------+
only showing top 5 rows

In [ ]:
community_table = df_communitties
community_table.show(2)

+----------+---------+
|area_numbe|community|
+----------+---------+
|        35|  DOUGLAS|
|        36|  OAKLAND|
+----------+---------+
only showing top 2 rows

Joinning Dataset go get one dataset for data analysis

In [ ]:
merged_df = df_crime_new.join(df_pl_st_new_, df_crime_new["District"] == df_pl_st_new_["DISTRICT"], "inner")

In [ ]:
df_crime_new.select("District").distinct().show(50)

+--------+
|District|
+--------+
|     009|
|     012|
|     024|
|    null|
|     031|
|     015|
|     006|
|     019|
|     020|
|     011|
|     025|
|     003|
|     005|
|     016|
|     018|
|     008|
|     022|
|     001|
|     014|
|     010|
|     004|
|     017|
|     007|
|     002|
|     021|
+--------+

In [ ]:
df_crime_new.filter(col("DISTRICT") == "16").count()

0

In [ ]:
merged_df.show(5)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|District|Community Area|Year|    Latitude|    Longitude|            Location|DISTRICT|DISTRICT NAME|   LATITUDE|   LONGITUDE|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|     002|            35|2020|41.830481843|-87.621751752|(41.830481843, -8...|     002|    Wentworth|41.80181109|-87.63056018|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|     009|            60|2020|41.836310224|-87.639624112|(41.836310224, -8...|     009|      Deering|41.83739443|-87.64640771|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|     004|            46|2020|41.747609555|-87.549179329|(41.747609555, -8...|     004|South Chicago|41.70793329|-87.56834912|
|12178140|   JD381597|2020-09-27 23:29:00|     BATTERY|              SIMPLE|RESIDENCE - PORCH...| false|   false|     007|            67|2020| 41.77487752|-87.671374872|(41.77487752, -87...|     007|    Englewood|41.77963154|-87.66088702|
| 4144897|   HL474854|2005-07-10 15:00:00|     BATTERY|AGGRAVATED: OTHER...|              STREET| false|   false|     007|            68|2005|41.781002663|-87.652107119|(41.781002663, -8...|     007|    Englewood|41.77963154|-87.66088702|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+
only showing top 5 rows

In [ ]:
merged_df.count()

7858902

In [ ]:
df_communitties.show(3)

+----------+-----------+
|area_numbe|  community|
+----------+-----------+
|        35|    DOUGLAS|
|        36|    OAKLAND|
|        37|FULLER PARK|
+----------+-----------+
only showing top 3 rows

In [ ]:
merged_with_community_df = merged_df.join(df_communitties, merged_df["Community Area"] == df_communitties["area_numbe"], "inner")
merged_with_community_df.show(5)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+----------+--------------+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|District|Community Area|Year|    Latitude|    Longitude|            Location|DISTRICT|DISTRICT NAME|   LATITUDE|   LONGITUDE|area_numbe|     community|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+----------+--------------+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|     002|            35|2020|41.830481843|-87.621751752|(41.830481843, -8...|     002|    Wentworth|41.80181109|-87.63056018|        35|       DOUGLAS|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|     009|            60|2020|41.836310224|-87.639624112|(41.836310224, -8...|     009|      Deering|41.83739443|-87.64640771|        60|    BRIDGEPORT|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|     004|            46|2020|41.747609555|-87.549179329|(41.747609555, -8...|     004|South Chicago|41.70793329|-87.56834912|        46| SOUTH CHICAGO|
|12178140|   JD381597|2020-09-27 23:29:00|     BATTERY|              SIMPLE|RESIDENCE - PORCH...| false|   false|     007|            67|2020| 41.77487752|-87.671374872|(41.77487752, -87...|     007|    Englewood|41.77963154|-87.66088702|        67|WEST ENGLEWOOD|
| 4144897|   HL474854|2005-07-10 15:00:00|     BATTERY|AGGRAVATED: OTHER...|              STREET| false|   false|     007|            68|2005|41.781002663|-87.652107119|(41.781002663, -8...|     007|    Englewood|41.77963154|-87.66088702|        68|     ENGLEWOOD|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+--------+--------------+----+------------+-------------+--------------------+--------+-------------+-----------+------------+----------+--------------+
only showing top 5 rows

In [ ]:
# Dropping columns of some columns (area_numbe, DISTRICT, District, `Community Area`)
merged_with_community_df_ = merged_with_community_df.drop(*["Community Area", "DISTRICT", "District", "area_numbe"])
merged_with_community_df_.show(3)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+-------------+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|Year|    Latitude|    Longitude|            Location|DISTRICT NAME|   LATITUDE|   LONGITUDE|    community|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+-------------+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|2020|41.830481843|-87.621751752|(41.830481843, -8...|    Wentworth|41.80181109|-87.63056018|      DOUGLAS|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|2020|41.836310224|-87.639624112|(41.836310224, -8...|      Deering|41.83739443|-87.64640771|   BRIDGEPORT|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|2020|41.747609555|-87.549179329|(41.747609555, -8...|South Chicago|41.70793329|-87.56834912|SOUTH CHICAGO|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+-------------+
only showing top 3 rows

In [ ]:
# Creating columns of days of the week that will be extracted from data columns
from pyspark.sql.functions import date_format, hour
merged_with_community_df_ = merged_with_community_df_.withColumn("Days", date_format(col("Date"), "EEEE"))
merged_with_community_df_ = merged_with_community_df_.withColumn("Time", hour(col("Date")))
merged_with_community_df_.show(4)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|Year|    Latitude|    Longitude|            Location|DISTRICT NAME|   LATITUDE|   LONGITUDE|     community|     Days|Time|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|2020|41.830481843|-87.621751752|(41.830481843, -8...|    Wentworth|41.80181109|-87.63056018|       DOUGLAS| Thursday|  10|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|2020|41.836310224|-87.639624112|(41.836310224, -8...|      Deering|41.83739443|-87.64640771|    BRIDGEPORT| Thursday|   5|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|2020|41.747609555|-87.549179329|(41.747609555, -8...|South Chicago|41.70793329|-87.56834912| SOUTH CHICAGO|Wednesday|  10|
|12178140|   JD381597|2020-09-27 23:29:00|     BATTERY|              SIMPLE|RESIDENCE - PORCH...| false|   false|2020| 41.77487752|-87.671374872|(41.77487752, -87...|    Englewood|41.77963154|-87.66088702|WEST ENGLEWOOD|   Sunday|  23|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
only showing top 4 rows

In [ ]:
# Final clean dataset to be used for analysis
final_df = merged_with_community_df_
final_df.show(5)

+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
|      ID|Case Number|               Date|Primary Type|         Description|Location Description|Arrest|Domestic|Year|    Latitude|    Longitude|            Location|DISTRICT NAME|   LATITUDE|   LONGITUDE|     community|     Days|Time|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
|12045583|   JD226426|2020-05-07 10:24:00|       THEFT|      $500 AND UNDER|           APARTMENT| false|   false|2020|41.830481843|-87.621751752|(41.830481843, -8...|    Wentworth|41.80181109|-87.63056018|       DOUGLAS| Thursday|  10|
|12031001|   JD209965|2020-04-16 05:00:00|     BATTERY|              SIMPLE|           APARTMENT|  true|   false|2020|41.836310224|-87.639624112|(41.836310224, -8...|      Deering|41.83739443|-87.64640771|    BRIDGEPORT| Thursday|   5|
|12093529|   JD282112|2020-07-01 10:16:00|     ASSAULT|AGGRAVATED - HANDGUN|              STREET|  true|   false|2020|41.747609555|-87.549179329|(41.747609555, -8...|South Chicago|41.70793329|-87.56834912| SOUTH CHICAGO|Wednesday|  10|
|12178140|   JD381597|2020-09-27 23:29:00|     BATTERY|              SIMPLE|RESIDENCE - PORCH...| false|   false|2020| 41.77487752|-87.671374872|(41.77487752, -87...|    Englewood|41.77963154|-87.66088702|WEST ENGLEWOOD|   Sunday|  23|
| 4144897|   HL474854|2005-07-10 15:00:00|     BATTERY|AGGRAVATED: OTHER...|              STREET| false|   false|2005|41.781002663|-87.652107119|(41.781002663, -8...|    Englewood|41.77963154|-87.66088702|     ENGLEWOOD|   Sunday|  15|
+--------+-----------+-------------------+------------+--------------------+--------------------+------+--------+----+------------+-------------+--------------------+-------------+-----------+------------+--------------+---------+----+
only showing top 5 rows

In [ ]:
final_df.select(col("Location Description")).distinct().show()

+--------------------+
|Location Description|
+--------------------+
|SCHOOL - PRIVATE ...|
|AIRPORT TERMINAL ...|
|VEHICLE - COMMERCIAL|
|RESIDENCE - YARD ...|
|POLICE FACILITY/V...|
|CHA PARKING LOT /...|
|            SIDEWALK|
|AIRPORT TERMINAL ...|
|OTHER RAILROAD PR...|
|CTA GARAGE / OTHE...|
|            CAR WASH|
|    AIRPORT/AIRCRAFT|
|    FEDERAL BUILDING|
|MEDICAL/DENTAL OF...|
|         CTA STATION|
|SCHOOL, PUBLIC, G...|
|SPORTS ARENA/STADIUM|
|                FARM|
|            CEMETARY|
|               HOUSE|
+--------------------+
only showing top 20 rows

**Performing some analysis**

***Some of the question my analysis will answer are the following***
1. How what are the different types crime reported in Chicago and mostly reported Top 5
2. How many crime reported in each years from 2001 to present
3. How many crime records ended in arrest
4. Which community with huge amount of crime reported
5. How many crime happens in specific day of the week
6. How many crime happens in specific hour of the day
7. Showing which police station (District) with high rate of crime
8. How many criminal cases are domestic or not domestic

In [ ]:
final_df.groupby("Location Description").count().orderBy("count", ascending = False).show()

+--------------------+-------+
|Location Description|  count|
+--------------------+-------+
|              STREET|1873655|
|           RESIDENCE|1184780|
|           APARTMENT| 860710|
|            SIDEWALK| 695933|
|               OTHER| 239210|
|PARKING LOT/GARAG...| 181867|
|               ALLEY| 162376|
|  SMALL RETAIL STORE| 140974|
|SCHOOL, PUBLIC, B...| 131369|
|    RESIDENCE-GARAGE| 122136|
|          RESTAURANT| 120755|
|VEHICLE NON-COMME...| 119104|
|RESIDENCE PORCH/H...| 112258|
|    DEPARTMENT STORE|  92252|
|  GROCERY FOOD STORE|  88848|
|         GAS STATION|  82196|
|RESIDENTIAL YARD ...|  74796|
|       PARK PROPERTY|  55086|
|COMMERCIAL / BUSI...|  54751|
|CHA PARKING LOT/G...|  44919|
+--------------------+-------+
only showing top 20 rows

In [ ]:
# How what are the different types crime reported in Chicago and mostly reported Top 5
final_df.groupby("Primary Type").count().orderBy("count", ascending = False).show(5)

+---------------+-------+
|   Primary Type|  count|
+---------------+-------+
|          THEFT|1536657|
|        BATTERY|1327583|
|CRIMINAL DAMAGE| 830751|
|      NARCOTICS| 672143|
|        ASSAULT| 479971|
+---------------+-------+
only showing top 5 rows

In [ ]:
# How many crime reported in each years from 2001 to present
final_df.groupby("Year").count().orderBy("count", ascending = False).show(25)

+----+------+
|Year| count|
+----+------+
|2003|471981|
|2004|467124|
|2005|449874|
|2006|445500|
|2007|435534|
|2008|419629|
|2009|385742|
|2010|369772|
|2011|351102|
|2002|345501|
|2012|335451|
|2013|306405|
|2014|273775|
|2016|267249|
|2017|264954|
|2018|263533|
|2019|259162|
|2015|257922|
|2022|234929|
|2023|232878|
|2020|207948|
|2021|202854|
|2001|  5750|
+----+------+

In [ ]:
# How many crime records ended in arrest
arrest_df = final_df.filter(col("Arrest") == lit("true"))
arrest_df.count()

1853631

In [ ]:
no_arrest_df = final_df.filter(col("Arrest") == lit("false"))
no_arrest_df.count()

5400938

In [ ]:
# Which community with huge amount of crime reported (Top 5)
final_df.groupby("community").count().orderBy("count", ascending = False).show(5)

+---------------+------+
|      community| count|
+---------------+------+
|         AUSTIN|451537|
|NEAR NORTH SIDE|256266|
|    SOUTH SHORE|239626|
|  HUMBOLDT PARK|225819|
| NEAR WEST SIDE|220519|
+---------------+------+
only showing top 5 rows

In [ ]:
# How many crime happens in specific day of the week
final_df.groupby("Days").count().orderBy("count", ascending = False).show()

+---------+-------+
|     Days|  count|
+---------+-------+
|   Friday|1089325|
|Wednesday|1042317|
| Saturday|1040474|
|  Tuesday|1035652|
| Thursday|1030941|
|   Monday|1024279|
|   Sunday| 991581|
+---------+-------+

In [ ]:
# How many crime happens in specific hour of the day
final_df.groupby("Time").count().orderBy("count", ascending = False).show(24)

+----+------+
|Time| count|
+----+------+
|  12|414455|
|   0|410350|
|  19|408134|
|  20|405776|
|  18|395658|
|  21|393442|
|  15|387239|
|  22|386961|
|  17|373123|
|  16|367292|
|  14|365124|
|  13|343756|
|  23|322791|
|  11|321941|
|   9|312073|
|  10|306922|
|   8|245674|
|   1|231169|
|   2|195573|
|   7|167813|
|   3|158770|
|   4|120953|
|   6|118151|
|   5|101429|
+----+------+

In [ ]:
# Showing which police station (District) with high rate of crime (Top 5)
final_df.groupby("district_name").count().orderBy(
    "count", ascending=False).show(24)

+--------------+------+
| DISTRICT NAME| count|
+--------------+------+
|  Chicago Lawn|489660|
|      Harrison|466090|
|       Gresham|428858|
|     Englewood|419406|
| South Chicago|415750|
| Grand Central|411851|
|Grand Crossing|369012|
|     Near West|359185|
|       Deering|353302|
|     Wentworth|330246|
|     Town Hall|325134|
|    Near North|324812|
|       Calumet|322574|
|         Ogden|314322|
|        Austin|309864|
|       Central|299675|
|   Shakespeare|275481|
|Jefferson Park|245243|
|   Morgan Park|238726|
|   Rogers Park|219319|
|   Albany Park|208899|
|       Lincoln|127160|
+--------------+------+

In [ ]:
# How many criminal cases are domestic or not domestic
final_df.groupby("Domestic").count().orderBy("count", ascending = False).show()

+--------+-------+
|Domestic|  count|
+--------+-------+
|   false|5999260|
|    true|1255309|
+--------+-------+

Connecting to AWS RDS with pyspark to create tables and save tables that will be used for dashoboard in tableau or PowerBI

In [ ]:
# changing the naming convention of columns before loading the data

In [ ]:
jdbc_url = "jdbc:mysql://final-project.chjk3p9snnd4.us-east-1.rds.amazonaws.com:3306/final_project"
properties = {
    "user": "patty",
    "password": "Patty123",  
    "driver": "com.mysql.jdbc.Driver"
}

In [ ]:
community_table.show(1)

+----------+---------+
|area_numbe|community|
+----------+---------+
|        35|  DOUGLAS|
+----------+---------+
only showing top 1 row

In [ ]:
# Loading community dataframe to RDS
community_table.write.jdbc(url=jdbc_url, table="community_table", mode="overwrite", properties=properties)

In [ ]:
# Loading Police District Dataframe to RDS
# police_table.show(1)

In [ ]:
# police_table.printSchema()

In [ ]:
police_table.write.jdbc(url=jdbc_url, table="police_table", mode="overwrite", properties=properties)

In [ ]:
# Loading Crime dataframe to RDS
crime_table.show(2)

In [ ]:
crime_table_ = crime_table\
.withColumnRenamed("Case Number", "Case_Number")\
.withColumnRenamed("Primary Type", "Primary_Type")\
.withColumnRenamed("Location Description", "Location_Description")\
# .withColumnRenamed("Community Area", "Community_Area")

crime_table_.show(2)

In [ ]:
crime_table_.printSchema()

In [ ]:
crime_table_.show(2)

In [ ]:
# Write crime table to the aws RDS (First bunch)
# crime_data_for_2001_to_2006 = crime_table_.filter((crime_table_['year'] >= 2001) & (crime_table_['year'] <= 2006))

In [ ]:
# Loop through the years and load data in batches (# Write crime table to the aws RDS)
for year in range(2001, 2024):
    crime_data_for_year = crime_table_.filter((crime_table_['Year'] == year))
    crime_data_for_year.write.jdbc(
        url=jdbc_url, table="crime_cases", mode="append", properties=properties)